.App {
  width: 100vw;
  height: 100vh;
  background-color: #28282b;

  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.App::-webkit-scrollbar {
\  display: none; /* Safari and Chrome */
}

.Main-Title {
  font-family: "HarmondBold";
  font-size: 3rem;
  overflow: hidden;
  text-align: center;
  color: #fbfcf8;
  animation-duration: 3s;
  animation-name: slideout;
  animation-delay: 1s;
  -webkit-animation-fill-mode: forwards; /* Chrome 16+, Safari 4+ */
  -moz-animation-fill-mode: forwards;    /* FF 5+ */
  -o-animation-fill-mode: forwards;      /* Not implemented yet */
  -ms-animation-fill-mode: forwards;     /* IE 10+ */
  animation-fill-mode: forwards;         /* When the spec is finished */
}

@keyframes slideout {
  from  {
    height: 3rem;
    visibility: visible
  }
  to {
    height: 0%;
    visibility: hidden;
  }

  
}
